body{
    background-image: linear-gradient(45deg,Turquoise,white);
}
div{
    background-color: rgb(219, 200, 200);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    border-radius:20    px;
    color: black;
}
input{
    padding: 5px;
    border-radius:15px;
    outline: none;
    font-size: 15px;
}
button{
    background-color: rgb(211, 44, 44);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    color:mediumblue;
    font-size: 15px;
}
button:hover{
    background-color: rgb(92, 2, 2);
    cursor: pointer;
}
.fox{
    display: block;
    margin: 0 auto 20px auto;
    max-width: 180px;
    border-radius: 15px;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login{
   margin-top: 15px;
   text-align: center;
   font-size: 14px;
    
}
.login a{
    color: blue;
    text-decoration:none;
    font-size: bold;
}
.login a :hover{
    text-decoration: underline;
}