body{
    background-color: rgb(255, 255, 255);
}
/*alterando cor do fundo*/

h1{
    color: rgb(0, 0, 0);
}
/* texto central*/
p{
    color: rgb(0, 0, 0);
    win}

/*paragrafos entral*/


p strong{
    color: rgb (21, 255, 0);
}
#logo{
    /*altera o tamanho da logo*/
    width: 200px;
}
#banner-principal{
    width: 100%;
} 
.banner {
    width: 250px;
    height: 250px;
    border-radius: 40%;
}
